<!DOCTYPE html>
<html>
<head>
    <title>Elearn</title>
</head>
<body>
    <nav>
        <a href="{% url 'core:course_list' %}">Home</a>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'userauths:signup' %}">Signup</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>